In [1]:
import pandas as pd
import numpy as np



ACTION_201602_FILE = "data/JData_Action_201602.csv"
ACTION_201603_FILE = "data/JData_Action_201603.csv"

ACTION_201604_FILE = "data/JData_Action_201604.csv"
COMMENT_FILE = "data/JData_Comment.csv"
PRODUCT_FILE = "data/JData_Product.csv"
USER_FILE = "data/JData_User.csv"

USER_TABLE_FILE = "data/user_table.csv"
ITEM_TABLE_FILE = "data/item_table.csv"

# 分块读函数

In [2]:
def get_from_action_data(fname, chunk_size=100000):
    reader = pd.read_csv(fname, header=0, iterator=True)
    chunks = []
    loop = True
    while loop:
        try:
            # 只读取user_id和type两个字段
            chunk = reader.get_chunk(chunk_size)
            chunks.append(chunk)
        except StopIteration:
            loop = False
            print("Iteration is stopped")
    # 将块拼接为pandas dataframe格式
    df_ac = pd.concat(chunks, ignore_index=True)
   

    return df_ac

# 多个action合成一个

In [3]:
def merge_action_data():
    df_ac = []
    df_ac.append(get_from_action_data(fname=ACTION_201602_FILE))
    df_ac.append(get_from_action_data(fname=ACTION_201603_FILE))
    df_ac.append(get_from_action_data(fname=ACTION_201604_FILE))

    df_ac = pd.concat(df_ac, ignore_index=True)
    
    return df_ac

In [4]:
df=merge_action_data()

Iteration is stopped
Iteration is stopped
Iteration is stopped

In [5]:
df.head()

    user_id  sku_id                 time  model_id  type  cate  brand
0  266079.0  138778  2016-01-31 23:59:02       NaN     1     8    403
1  266079.0  138778  2016-01-31 23:59:03       0.0     6     8    403
2  200719.0   61226  2016-01-31 23:59:07       NaN     1     8     30
3  200719.0   61226  2016-01-31 23:59:08       0.0     6     8     30
4  263587.0   72348  2016-01-31 23:59:08       NaN     1     5    159

In [6]:
users=pd.read_csv(USER_FILE,header=0,iterator=False)

In [7]:
users.head()

   user_id       age  sex  user_lv_cd user_reg_tm
0   200001  56������    2           5  2016-01-26
1   200002        -1    0           1  2016-01-26
2   200003   36-45��    1           4  2016-01-26
3   200004        -1    2           1  2016-01-26
4   200005   16-25��    0           4  2016-01-26

In [8]:
df=pd.merge(df,users,how="left",left_on='user_id',right_on='user_id')

In [11]:
comments=pd.read_csv(COMMENT_FILE,header=0,iterator=False)

In [12]:
comments.head()

           dt  sku_id  comment_num  has_bad_comment  bad_comment_rate
0  2016-02-01    1000            3                1            0.0417
1  2016-02-01   10000            2                0            0.0000
2  2016-02-01  100011            4                1            0.0376
3  2016-02-01  100018            3                0            0.0000
4  2016-02-01  100020            3                0            0.0000

In [24]:
comments['dt'].unique()

array(['2016-02-01'], dtype=object)

In [10]:
df.to_csv("combined.csv",index=False)

In [9]:
df.head()

,user_id,sku_id,time,model_id,type,cate,brand,age,sex,user_lv_cd,user_reg_tm
0,266079.0,138778,2016-01-31 23:59:02,NaN,1,8,403,NaN,NaN,NaN,NaN
1,266079.0,138778,2016-01-31 23:59:03,0.0,6,8,403,NaN,NaN,NaN,NaN
2,200719.0,61226,2016-01-31 23:59:07,NaN,1,8,30,46-55��,2.0,3.0,2016-01-31
3,200719.0,61226,2016-01-31 23:59:08,0.0,6,8,30,46-55��,2.0,3.0,2016-01-31
4,263587.0,72348,2016-01-31 23:59:08,NaN,1,5,159,NaN,NaN,NaN,NaN

In [13]:
df['sku_id'] in comments['sku_id']

TypeError: 'Series' objects are mutable, thus they cannot be hashed