In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
comments=pd.read_csv("data_ori/JData_Comment.csv",header=0,iterator=False)

In [3]:
comments.head()

           dt  sku_id  comment_num  has_bad_comment  bad_comment_rate
0  2016-02-01    1000            3                1            0.0417
1  2016-02-01   10000            2                0            0.0000
2  2016-02-01  100011            4                1            0.0376
3  2016-02-01  100018            3                0            0.0000
4  2016-02-01  100020            3                0            0.0000

In [4]:
udt=comments['dt'].unique()

In [5]:
grouped=comments.groupby(['sku_id'],as_index=False)

In [6]:
def maxandmin(group):
    re=group
    re['max_comment_num']=max(group['comment_num'])
    re['min_comment_num']=min(group['comment_num'])
    re['max_bad_num']=max(group['has_bad_comment'])
    re['min_bad_num']=min(group['has_bad_comment'])
    re['max_badrate']=max(group['bad_comment_rate'])
    re['min_badrate']=min(group['bad_comment_rate'])

    return re.iloc[0][['sku_id','max_comment_num','min_comment_num','max_bad_num','min_bad_num','max_badrate','min_badrate']]

In [7]:
transcomment=grouped.apply(maxandmin)

In [17]:
tmp=transcomment[transcomment['max_comment_num']-transcomment['min_comment_num']!=0]['sku_id']

In [16]:
product=pd.read_csv("data_ori/JData_Product.csv",header=0)

In [21]:
cou=0
for i in tmp:
    if i in product['sku_id']:
        cou=cou+1

In [27]:
cou

755

In [24]:
transcomment[transcomment['max_comment_num']-transcomment['min_comment_num']!=0]

,sku_id,max_comment_num,min_comment_num,max_bad_num,min_bad_num,max_badrate,min_badrate
12,43,1,0,0,0,0.0000,0.0000
23,87,3,2,1,1,0.1250,0.0909
24,95,2,0,0,0,0.0000,0.0000
48,173,2,1,0,0,0.0000,0.0000
62,212,1,0,0,0,0.0000,0.0000
77,264,2,1,0,0,0.0000,0.0000
83,275,3,0,1,0,0.0244,0.0000
84,276,3,0,1,0,0.0769,0.0000
86,281,4,0,0,0,0.0000,0.0000
93,301,1,0,0,0,0.0000,0.0000
96,312,1,0,0,0,0.0000,0.0000
107,372,3,2,1,0,0.0667,0.0000
108,373,2,1,1,1,1.0000,0.5000
114,382,1,0,0,0,0.0000,0.0000
120,395,2,1,0,0,0.0000,0.0000
134,428,4,0,0,0,0.0000,0.0000
136,436,2,0,1,0,1.0000,0.0000
137,437,3,0,1,0,0.0909,0.0000
147,476,1,0,0,0,0.0000,0.0000
151,487,1,0,1,0,1.0000,0.0000
152,489,2,0,0,0,0.0000,0.0000
160,514,3,2,0,0,0.0000,0.0000
175,577,1,0,0,0,0.0000,0.0000
181,593,2,0,0,0,0.0000,0.0000
196,647,2,0,0,0,0.0000,0.0000
199,661,2,1,0,0,0.0000,0.0000
201,669,2,0,1,0,0.1667,0.0000
204,685,4,3,1,0,0.0047,0.0000
205,688,3,2,0,0,0.0000,0.0000
209,700,2,0,0,0,0.0000,0.0000
...,...,...,...,...,...,...,...
46235,170137,3,1,0,0,0.0000,0.0000
46241,170162,3,2,1,0,0.1667,0.0000
46253,170225,4,2,1,0,0.0385,0.0000
46257,170239,2,1,0,0,0.0000,0.0000
46258,170244,2,1,1,0,0.8000,0.0000
46265,170276,2,0,1,0,0.1429,0.0000
46274,170311,3,0,0,0,0.0000,0.0000
46283,170341,2,0,0,0,0.0000,0.0000
46287,170347,2,0,0,0,0.0000,0.0000
46293,170364,2,1,0,0,0.0000,0.0000
46295,170370,2,0,0,0,0.0000,0.0000
46329,170490,1,0,0,0,0.0000,0.0000
46335,170509,2,0,0,0,0.0000,0.0000
46350,170556,4,0,0,0,0.0000,0.0000
46377,170647,2,0,0,0,0.0000,0.0000
46382,170663,2,0,0,0,0.0000,0.0000
46390,170680,1,0,0,0,0.0000,0.0000
46392,170684,2,0,0,0,0.0000,0.0000
46393,170687,1,0,0,0,0.0000,0.0000
46403,170716,3,2,0,0,0.0000,0.0000
46405,170719,2,1,0,0,0.0000,0.0000
46420,170773,3,2,1,1,0.1111,0.0909
46434,170822,2,0,1,0,0.5000,0.0000
46441,170838,2,0,0,0,0.0000,0.0000
46452,170870,4,3,1,1,0.1282,0.0746
46453,170871,4,3,1,1,0.0392,0.0200
46490,171005,4,2,1,0,0.0729,0.0000
46506,171048,1,0,0,0,0.0000,0.0000
46512,171085,1,0,0,0,0.0000,0.0000
46533,171168,2,0,0,0,0.0000,0.0000

In [25]:
udt

array(['2016-02-01', '2016-02-08', '2016-02-15', '2016-02-22',
       '2016-02-29', '2016-03-07', '2016-03-14', '2016-03-21',
       '2016-03-28', '2016-04-04', '2016-04-11', '2016-04-15'], dtype=object)

In [26]:
product.shape

(24187, 6)